html, body {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
}

.container {
  max-width: 70%;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
  width: 100%;
  margin: auto;
  max-width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.btn-primary {
  width: 100%;
}
